---
title: LocoVoco | Connect & meet new people Hello
layout: default
---

<link rel="stylesheet" href="resources/css/app.css">

<article>
    <header class="sticky">
        {% include header.html %}
    </header>

    <!-- we are using a layout based on the flexbox layout see minicss.org it will display differently on mobile and web which is what we want -->
    <main>
        <div class="container">
            <div class="row">

                <div class="col-sm-0 col-md-2"></div>
                <div class="col-sm-12 col-md-8">
                    <div>

                        <div class="center">

                            <h1>South Side / West End Trial Run - We have lift off 🚀</h1>
                            <br />
                            <div>
                                <p>
                                    After many long nights and weekends developing LocoVoco we're happy to announce that
                                    the
                                    South Side / West end trial run is now open 🎉. The trial will run for 3 weeks,
                                    we've
                                    had lot's of users sign up meaning plenty of new people for you to arrange meet-ups
                                    with. For a complete list of the cafes available to meetup at see <a
                                        href="cafes.html">our cafes page</a>
                                </p>
                            </div>

                            <br />
                            <img src="resources/LocoVocoLogoCircleWhite.png" width="225px" height="225px" alt="Logo" />

                        </div>
                        <br />
                        <hr />
                        <br />
                        <div class="center">

                            <h2>Installing LocoVoco</h2>

                            <div>

                                <p>
                                    The app isn't available in the App Store as we are exclusively trialling it in
                                    Glasgow,
                                    you can download the app via Apple's official testing app, TestFlight
                                </p>
                            </div>

                            <p>
                                <b><a href="https://apps.apple.com/us/app/testflight/id899247664">Install
                                        TestFlight</a></b>
                                <br />
                                <b><a href="https://testflight.apple.com/join/r2n6jFq3">Install LocoVoco</a></b>
                                <br />
                            </p>

                        </div>

                        <div class="center">
                            <h2>Help</h2>
                            <p>
                                It should be a really simple process to install and start using LocoVoco, any problems
                                though send us a message on <a href="https://wa.me/447539769454"
                                    target="_blank">WhatsApp</a>, or see our <a href="help.html">help page</a>. 
                            </p>
                        </div>

                        <br />
                        <br />
                        <div class="center">
                            <p style="text-align: center;">
                                <a href="privacy-policy.html" target="_blank">Privacy Policy</a> |
                                <a href="terms-conditions.html" target="_blank">Terms &amp; Conditions</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-0 col-md-2"></div>
            </div>
        </div>
    </main>

    <footer class="sticky">
        {% include footer.html %}
    </footer>
</article>