---
title: LocoVoco | Connect & meet new people
layout: default
---

<link rel="stylesheet" href="resources/css/app.css">

<article>
    <header class="sticky">
        {% include header.html %}
    </header>

    <!-- we are using a layout based on the flexbox layout see minicss.org it will display differently on mobile and web which is what we want -->
    <main>
        <div class="container">
            <div class="row">

                <div class="col-sm-0 col-md-2"></div>
                <div class="col-sm-12 col-md-8">
                    <div>

                        <div class="center">

                            <br/>

                            <h2>Installing LocoVoco</h2>

                            <div>

                                <p>
                                   The App is currently under review for release to the App Store, once complete install via the App Store.
                                </p>
                            </div>

                        </div>

                        <br />
                        <div class="center">
                            <h2>Help</h2>
                            <p>
                                It should be a really simple process to install and start using LocoVoco, any problems
                                though send us a message on <a href="https://wa.me/447539769454"
                                    target="_blank">WhatsApp</a>, or see our <a href="help.html">help page</a>. 
                            </p>
                        </div>

                        <br />
                        <br />
                        <div class="center">
                            <p style="text-align: center;">
                                <a href="privacy-policy.html" target="_blank">Privacy Policy</a> |
                                <a href="terms-conditions.html" target="_blank">Terms &amp; Conditions</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-0 col-md-2"></div>
            </div>
        </div>
    </main>

    <footer class="sticky">
        {% include footer.html %}
    </footer>
</article>