---
title: LocoVoco | Connect & meet new people
layout: default
---

<!-- TODO: FB add icons for contact links https://simpleicons.org -->
<!-- TODO: FB include Hatty on meet the team -->

<link rel="stylesheet" href="resources/css/contact.css">

<article>

    <header class="sticky">
        {% include header.html %}
    </header>

    <!-- we are using a layout based on the flexbox layout see minicss.org it will display differently on mobile and web which is what we want -->
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-0 col-md-2"></div>
                <div class="col-sm-12 col-md-8">
                    <br />
                    <br />
                    <div class="center">
                        <img src="resources/fred_founder_picture_2.jpg" alt="Founder Image" width="250" height="250"
                            style="border-radius: 20px" />
                        <br />
                        <h2>Fred Bowker</h2>
                        <h3>Previously: VP Software Engineer at Morgan Stanley</h3>
                        <h3>Currently: Founder and Lead Developer at LocoVoco</h3>

                        <br />
                        <p>
                            Fred has 15 years experience working as a Software Developer building successful
                            software
                            projects. After researching the global increase in disconnect and loneliness and
                            following on from the Coronavirus pandemic Fred felt he needed to try and help in
                            whatever
                            way he could.
                            As a developer the way he decided to help was to found and build something, he quit his
                            job
                            working for an investment bank to found LocoVoco, an app that wants to contribute to a
                            more connected world. <br />
                            <br>
                            If you want to know more about LocoVoco or you can help out in anyway please get in
                            touch, he'd be happy to hear from you :)
                        <p>
                            <br />

                            <a href="tel:+44 7539769454">Call</a> |
                            <a href="mailto:fred.bowker@locovo.co">Email</a> |
                            <a href="http://www.linkedin.com/in/fred-bowker-46871971">Linkedin</a>
                        </p>

                        <hr />
                        <br />

                        <img src="resources/liam.jpeg" alt="Liam Image" width="250" height="250"
                            style="border-radius: 20px" />

                        <h2>Liam Nugent</h2>
                        <h3>Greenhill | Design & Technology</h3>
                        <h3>Mentor / Advisor at LocoVoco</h3>
                        <br />

                        <p>
                            Liam has over a decade of extensive experience building and running startups he's a
                            software product builder with an entrepreneurial mindset he's experienced in
                            spearheading all phases of the software development life cycle.

                            When Fred made the decision to found LocoVovo he needed someone with the commercial and
                            business experience of working in the startup sector, Liam was the perfect person to
                            turn to. Since LocoVoco's inception they have been working closely together on all aspects
                            of the startup creation from marketing through to UX design.
                        </p>
                        <p>
                            <br />
                            <a href="mailto:liam@locovo.co">Email</a> |
                            <a href="https://www.linkedin.com/in/liam-nugent-greenhill">Linkedin</a>
                        </p>
                    </div>
                    <br />
                </div>
                <div class="col-sm-0 col-md-2"></div>
            </div>
        </div>
    </main>

    <footer class="sticky">
        {% include footer.html %}
    </footer>
</article>