.iphonePreview {
    grid-area: p;
    background-image: url("assets/black.png");
    background-size: 400px auto;
    background-repeat: no-repeat;
    margin-top:68px
}

.iphoneScreen {
    width: 349px;
    -webkit-clip-path: url(#screenMask);
    clip-path: url(#screenMask);
    margin-left: 26px;
    margin-top:23px
}

.videoContainer {
    width: 349px;
    height: 755px;
    -webkit-clip-path: url(#screenMask);
    clip-path: url(#screenMask);
    margin-left: 26px;
    margin-top:23px
}
