<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset=“UTF-8”>

    <title>{{page.title}}</title>
    <meta name="description"
        content="Find out about a new way to meet new like minded people. Let's cure the disconnect." />
    <link rel="shortcut icon" type="image/x-icon" href="resources/favicon.ico" />
</head>

<body>
    {{ content }}
</body>

</html>